@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Raleway:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #ffaeae; }

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 12vh;
  width: 100%; }
  header .hdiv__h1 {
    color: #FFAEAE;
    font-size: 3em;
    padding-left: 15rem; }
  header #btn-menu {
    display: none; }
  header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px; }
    header label:hover {
      cursor: pointer; }
  header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40rem; }
    header nav .hdiv__ul {
      display: flex;
      gap: 2rem;
      font-size: 2.5em; }
      header nav .hdiv__ul__li a {
        transition: 1s; }
        header nav .hdiv__ul__li a:hover {
          text-decoration: solid;
          border-bottom: 2px solid #FFAEAE;
          color: #a16868; }

.index__main {
  background-color: #FFAEAE;
  width: 100%;
  overflow: visible; }
  .index__main .index__contenido {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    padding-left: 15rem;
    padding-top: 5rem;
    height: 76vh;
    position: relative; }
    .index__main .index__contenido .texto {
      grid-column: 1 / 20;
      grid-row: 1 / 6; }
      .index__main .index__contenido .texto .index__h2 {
        font-size: 3.5em;
        padding-bottom: 3rem; }
      .index__main .index__contenido .texto .index__p {
        font-size: 1.6em;
        max-width: 50%; }
    .index__main .index__contenido .index__picture {
      margin-left: 1rem;
      padding-right: 20rem;
      grid-column: 7 / 9;
      grid-row: 1 / 3; }

.gira__main {
  background-color: #FFAEAE;
  width: 100%;
  height: 76vh; }
  .gira__main__section {
    background-color: #FFAEAE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .gira__main__section__picture {
      width: 80rem; }
      .gira__main__section__picture__img {
        width: 100%;
        padding-top: 1.5rem; }
    .gira__main__section__div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .gira__main__section__div__h2 {
        font-size: 4em;
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem; }
      .gira__main__section__div__div {
        display: flex;
        flex-direction: column; }
        .gira__main__section__div__div__ul {
          display: flex;
          flex-direction: column;
          font-size: 2.6em;
          text-decoration: dotted;
          list-style-type: disc; }
          .gira__main__section__div__div__ul__li {
            text-decoration: dotted; }
            .gira__main__section__div__div__ul__li .button {
              font-size: 0.9em;
              border-radius: 5px;
              width: 9rem;
              transition: 0.4s; }
              .gira__main__section__div__div__ul__li .button:hover {
                cursor: pointer;
                background-color: #a8a3a3; }

.footer {
  background-color: black;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60rem;
  padding: 3rem; }
  .footer__p {
    color: #FFAEAE;
    font-size: 2em; }
  .footer__rs {
    display: flex; }
