header{
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $extra-small;
    height: 12vh;
    width: 100%;
    .hdiv__h1{
        color: $primary;
        font-size: 3em;
        padding-left: $large;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;   
        gap: 40rem;
        .hdiv__ul{
            display: flex;
            gap: $extra-small;
            font-size: 2.5em;
            &__li a{
                transition: 1s;
                &:hover{
                    text-decoration: solid;
                    border-bottom: 2px solid $primary;
                    color: $alternative;
                }
            }
        }
    }
}



@media (max-width: 1124px) {
    header{
        @include flex (flex, column, center, center, nowrap);
        gap: 1.5rem;
    }
    .hdiv__h1{
        padding-right: $small;
        padding-left: $medio !important;
    }
    .hdiv__ul{
        font-size: 1.7em !important;
    }
}

@media (max-width: 500px) {
    header{
        @include flex (flex, row, flex-start, center, nowrap);
        gap: 2.4rem;
    }
    .hdiv__h1{
        padding-right: 0;
    }
    .hdiv__ul{
        @include flex (flex, column, center, center, nowrap);
        font-size: 1.7em !important;
        gap: 0 !important;
        text-decoration: underline;
    }
}
