.discografia__main{
    @extend .index__main;
    padding: 0.4rem;
    @include flex (flex, row, center, flex-start, nowrap);
    &__section{
        @include flex (flex, column, flex-start, flex-start, nowrap);
        padding-top: 5rem;
        padding-bottom: 5rem;
        &__h2{
            font-size: 4em;
        }
        &__p{
            padding-top: 0.7rem;
            font-size: 2.3em;
        }
        &__div{
            @include flex (flex, row, center, flex-start, nowrap);
            padding-top: 0.7rem;
            gap: 1rem;
            &__iframe{
                width: 40rem;
                height: 54rem;
            }
        }
    }
}
@include media (xs){
    .discografia__main__section__h2{
        font-size: 3em;
    }
    .discografia__main__section__p{
        font-size: 1.7;
    }
    .discografia__main__section{
        @include flex (flex, column, center, center, wrap);
    }
    .discografia__main__section__div__iframe{
        width: 25rem;
    }
}
@include media (lg){
    .discografia__main{
        height: auto;
        padding: 0 4rem;
    }
    .discografia__main__section__div{
        @include flex (flex, column, center, center, wrap);
    }
    .discografia__main__section__div__iframe{
        width: 70vw !important;
    }
}
@include media (xl){
    .discografia__main__section__div__iframe{
        width: 30vw;
    }
}
