.gira__main{
    @extend .index__main;
    &__section{
        background-color: $primary;
        @include flex( flex, column, center, center, nowrap);
        &__picture{
            width: 80rem;
            &__img{
                width: 100%;
                padding-top: 1.5rem;
            }
        }
        &__div{
            @include flex( flex, column, flex-start, center, nowrap);
            &__h2{
                font-size: 4em;
                display: block;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            &__div{
                @include flex( flex, column, flex-start, flex-start, nowrap);
                &__ul{
                    @include flex (flex, column, flex-start, flex-start, nowrap);
                    font-size: 2.6em;
                    text-decoration: dotted;
                    list-style-type: disc;
                    &__li{
                        text-decoration: dotted;
                        padding-bottom: 0.2rem;
                    }
                    &__button{
                        font-size: 0.9em;
                        border-radius: 5px;
                        width: 9rem;
                        transition: 0.4s;
                        cursor: pointer;
                        &:hover{
                            cursor: pointer;
                            background-color: $alternative2;
                        }
                }
            }
        }
    }
}
}
@include media (sm){
    .gira__main__section{
        display: flex;
        justify-content: center;
        &__picture{
            width: 30rem;
        }
    }
    .gira__main__section__div__h2{
        font-size: 3em;
    }
    .gira__main__section__div__div__ul{
        font-size: 2.2em;
    }
}
@include media (lg){
    .gira__main__section{
        display: flex;
        justify-content: center;
        background-color: aqua;
        &__picture{
            width: 60rem;
        }
    }
    .gira__main__section__div__div__ul{
        font-size: 2.6em;
        gap: 1.5rem;
    }
}
@include media (md){
    .gira__main{
        padding: 0 4rem;    
        height: 80vh;
    }
    .gira__main__section__picture{
        width: 75vw;
    }
    .gira__main__section__div__div__ul{
        font-size: 2.3em;
    }
    .gira__main__section__div__h2{
        font-size: 3.6em;
    }
}

