.gira__main{
    @extend .index__main;
    &__section{
        background-color: $primary;
        @include flex( flex, column, center, center, nowrap);
        &__picture{
            width: 80rem;
            &__img{
                width: 100%;
                padding-top: 1.5rem;
            }
        }
        &__div{
            @include flex( flex, column, flex-start, center, nowrap);
            &__h2{
                font-size: 4em;
                display: block;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            &__div{
                @include flex( flex, column, flex-start, flex-start, nowrap);
                &__ul{
                    @include flex (flex, column, flex-start, flex-start, nowrap);
                    font-size: 2.6em;
                    text-decoration: dotted;
                    list-style-type: disc;
                    &__li{
                        text-decoration: dotted;
                    }
                    &__button{
                        font-size: 0.9em;
                        border-radius: 5px;
                        width: 9rem;
                        transition: 0.4s;
                        cursor: pointer;
                        &:hover{
                            cursor: pointer;
                            background-color: $alternative2;
                        }
                }
            }
        }
    }
}
}