
.index__main{
    background-color: $primary;
    width: 100%;
    height: $main;
    overflow-x: hidden;
    .index__contenido{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        padding-left: $large;
        padding-top: $medio;
        padding-bottom: $medio;
        height: auto;
        position: relative;
        .texto{
            grid-column: 1 / 12;
            grid-row: 1 / 6;
            .index__h2{
                font-size: $font-h2;
                padding-bottom: $small;
            }
            .index__p{
                font-size: $font-small;
                max-width: 50%;
            }
        }
        .index__picture{
            margin-left: 1rem;
            padding-right: 20rem;
            grid-column: 7 / 9;
            grid-row: 1 / 3;
        }
    }
}
@include media (xxl){
    .index__main{
        height: auto !important;
    }
}
@include media (lg){
    .index__contenido{
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: $medio;
        padding-left: 7rem !important;
    }
    .index__p{
        font-size: $font-small;
        width: 100vw;
        max-width: 90% !important;
        margin: 0 !important;
    }
}
@include media (sm){
    .index__contenido{
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: $medio;
        padding-left: 7rem !important;
    }
    .index__h2{
        font-size: $font-medium
    }
    .index__p{
        font-size: $font-small;
        width: 100vw;
        max-width: 80% !important;
        margin: 0 !important;
    }
    .index__img{
        width: 30rem;
        padding-left: 10rem;
    }
}
