// colores
$primary: #FFAEAE;
$secondary: black;
$alternative: #a16868;
$alternative2: #a8a3a3; 





// maps
$breakpoints: (
    xs : 450px,
    sm : 640px,
    md : 768px,
    lg : 992px,
    xl : 1300px,
    xxl : 1500px
);

