// colores
$primary: #FFAEAE;
$secondary: black;
$alternative: #a16868;
$alternative2: #a8a3a3; 

// model-box
$extra-small: 2rem;
$small: 3rem;
$medio: 5rem;
$large: 15rem;
$main: 76vh;

// font-size
$font-h2: 4em;
$font-medium: 3em;
$font-small: 1.6em;



// maps
$breakpoints: (
    xs : 450px,
    sm : 640px,
    md : 768px,
    lg : 922px,
    xl : 1300px,
    xxl : 1500px
);

